model {
  center_net {
    num_classes: 90
    feature_extractor {
      type: "mobilenet_v2"
      min_depth: 16
      depth_multiplier: 1.0
      use_depthwise: true
    }
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 512
        max_dimension: 512
        pad_to_max_dimension: true
      }
    }
    object_detection_task {
      task_loss_weight: 1.0
      offset_loss_weight: 1.0
      scale_loss_weight: 0.1
      localization_loss {
        l1_localization_loss {
        }
      }
    }
    object_center_params {
      object_center_loss_weight: 1.0
      min_box_overlap_iou: 0.7
      max_box_predictions: 100
    }
  }
}

train_config: {
  batch_size: 8
  optimizer {
    adam_optimizer: {
      learning_rate: {
        exponential_decay_learning_rate {
          initial_learning_rate: 0.0004
          decay_steps: 800720
          decay_factor: 0.95
        }
      }
    }
  }
  fine_tune_checkpoint: "PATH_TO_PRETRAINED_CHECKPOINT"
  fine_tune_checkpoint_type: "detection"
  load_all_detection_checkpoint_vars: true
  num_steps: 500000
  data_augmentation_options {
    random_horizontal_flip {
    }
  }
  data_augmentation_options {
    random_adjust_brightness {
    }
  }
}

train_input_reader: {
  label_map_path: "PATH_TO_LABEL_MAP"
  tf_record_input_reader {
    input_path: "PATH_TO_TRAIN_TFRECORD"
  }
}

eval_config: {
  metrics_set: "coco_detection_metrics"
  use_moving_averages: false
}

eval_input_reader: {
  label_map_path: "PATH_TO_LABEL_MAP"
  tf_record_input_reader {
    input_path: "PATH_TO_EVAL_TFRECORD"
  }
  shuffle: false
  num_readers: 1
}
